$input-background: #fff;
$output-background: #fff;


.Message {

  margin: 1rem 1rem 0 1rem;

  .inner {
    display: inline-block;
    padding: .5rem 1rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 66%;
    opacity: 0;
    transition: opacity .4s ease;


    &:after, &:before {
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-color: rgba(136, 183, 213, 0);
      border-width: .5rem;
      margin-top: -.5rem;
    }

    &.loaded {
      opacity: 1;
    }
  }

  &.output {
    margin-left: 1rem;
    text-align: left;

    .inner {
      //margin-right: 8%;
      background: $output-background;
    }

    .inner:after, .inner:before {
      right: 100%
    }
    .inner:before {
      border-right-color: $output-background;
    }
  }

  &.input {
    margin-right: 1rem;
    text-align: right;

    .inner {
      //margin-left: 8%;
      background: $input-background;
    }

    .inner:after, .inner:before {
      left: 100%
    }
    .inner:before {
      border-left-color: $input-background;
    }
  }
}

