@import "../node_modules/normalize.css/normalize.css";
@import "./flexbox.scss";
@import "./html.scss";
@import "./colours.scss";
@import "./mixins.scss";


#root {
  height: 100vh;
  width: 100vw;
}

.application {
  flex: 1;
  display: flex;
  //max-width: 600px;
}


